<div class="pure-g">
    <div class="pure-u-1-2">
        Order by: <a href="#" class="fetch-albums" data-artist="{{ artist_id }}" data-order="asc">Release date (asc)</a>
    </div>
    <div class="pure-u-1-2">
        <form action="#" id="search_form" class="pure-form">
            {% csrf_token %}
            <input type="hidden" name="artist_id" value="{{ artist_id }}" />
            <input type="text" placeholder="album name" name="term" id="term" />
            <input type="submit" class="pure-button" value="Find" />
        </form>

        <script>
            $('#search_form').on('submit', function(e){
                e.preventDefault();
                if ($("#term").val() == "") {
                    return false;
                }

                $.post("{% url 'search_albums' %}", $(this).serialize(), function(response){
                   $('#albums').html(response);
                });
            })
        </script>
    </div>
</div>
<div class="pure-g">
    <div class="pure-u-1-1">
        <h3>Albums</h3>
    </div>
</div>
<div class="pure-g">
{% load el_pagination_tags %}
    <div class="pure-u-1-1">
        {% paginate albums %}

        {% include page_template %}

        {% show_more %}
        <script>
            $('.fetch-albums').on('click', fetch_albums);
            $.endlessPaginate();
        </script>
    </div>
</div>